@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;900&display=swap');

@keyframes fadeIn {
  from { opacity: 0%; }
  to { opacity: 100%; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes outLeft {
  from { left: 0%; }
  top { left: 110%; }
}

@keyframes moveUp {
  from { top: 0px; }
  to { top: -50px }
}

body, html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: green;
  color: green;
  font-family: 'Source Code Pro', monospace;
  position: relative;
}

.mainContainerOut {
  position: absolute;
  width: 98%;
  height: 98%;
  display: block;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  overflow-x: hidden;
  border: 1px solid green;
  border-radius: 30px;
  background: darkgreen;
}

.mainContainer {
  position: relative;
  width: 95%;
  height: 95%;
  display: block;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  overflow-x: hidden;
  border: 1px solid green;
  border-radius: 30px;
  background: #000;
}

.conTitle {
  animation: fadeIn 1s;
  opacity: 1;
  position: relative;
  padding: 10px 10px 0;
}

.conTitleText {
  font-size: 1.25rem;
  font-weight: 900;
  text-decoration: underline;
  margin: 0;
}

.conTitleTextSub {
  font-size: 1.1rem;
  margin: 0;
  margin-left: 15px;
}

.conTitleTextSubSmall {
  font-size: 0.95rem;
  opacity: 0;
  display: inline-block;
  background: green;
  color: #000;
  font-weight: 100;
  padding: 5px;
  position: relative;
  left: 0%;
}

.conTitleTextSubSmall.active {
  opacity: 1;
  animation: fadeIn 1s;
}

.conTitleTextSubSmall.active2 {
  left: 110%;
  animation: outLeft 2s ease,
             fadeOut 2s ease;;
  opacity: 0;
}

.conBody {
  height: 70%;
  overflow: auto;
  position: relative;
  top: 0px;
  padding: 0 10px;
}

.conBody.active3 {
  animation: moveUp 1s ease;
  top: -50px;
}

.conBody::-webkit-scrollbar {
    width: 12px;
    background-color: #000;
}

.conBodyText {
  display: inline;
  font-size: 1.25rem;
  margin: 0;
  font-weight: 900;
  opacity: 1;
}

.conBodyInput {
  background: black;
  color: green;
  border: none;
  padding-left: 10px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 900;
  font-size: 1.05rem;
  width: 90%;
  opacity: 1;
}

.conBodyInput:focus {
  outline: none;
}

.conBodyOutput {
  margin: 0;
  opacity: 1;
}


.cboText {
  font-weight: 900;
}

.conBodyOutput a {
  color: red;
}

.conBodyOutput a:hover {
  color: green;
}

@media (min-width: 768px) {
  .conTitle {
    padding: 25px 25px 0;
  }
  .conBody {
    padding: 0 25px;
  }
}